@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
[hidden],
template {
  display: none;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
html {
  font-size: 0.69444vw;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
}
.preloader {
  background: #000;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99999999;
}
.page-bp * {
  --dharma: "dharma", condendsed;
  --color: #e41f6a;
  --neue: "neue", sans-serif;
  --soft: #fefbf5;
  font-family: var(--neue);
}
.wrap-words,
.wrap-words div {
  will-change: transform;
}
.e-white {
  background-color: #fff;
}
.t-white {
  color: #fff;
}
.e-black {
  background-color: #000;
}
.t-black {
  color: #000;
}
.e-color {
  background-color: var(--color);
}
.e-dark {
  background-color: var(--dark);
}
.t-color {
  color: var(--color);
}
.e-gray {
  background-color: #aaa;
}
.t-gray {
  color: #aaa;
}
.t-100 {
  font-weight: 100;
}
.t-300 {
  font-weight: 300;
}
.t-400 {
  font-weight: 400;
}
.t-500 {
  font-weight: 500;
}
.t-700 {
  font-weight: 700;
}
.t-900 {
  font-weight: 900;
}
.e-flex,
.e-flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.e-flex-col {
  flex-direction: column;
}
.e-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.e-rel {
  position: relative;
}
.e-abs {
  position: absolute;
}
.e-fixed {
  position: fixed;
}
.e-wp {
  width: 100%;
}
.e-hp {
  height: 100%;
}
.e-85 {
  width: 85%;
}
.e-85w {
  width: 85vw;
}
.e-wvw {
  width: 100vw;
}
.e-hvh {
  height: 100vh;
}
.e-dn {
  display: none;
}
.e-img-fit {
  object-fit: cover;
}
.e-serif {
  font-family: dharma, condendsed;
}
.e-sans,
.e-serif {
  font-weight: lighter;
}
.e-sans {
  font-family: neue, sans-serif;
}
.t-center {
  text-align: center;
}
.e-hidden {
  overflow: hidden;
}
.e-curp {
  cursor: pointer;
}
h1 {
  font-family: dharma, condendsed;
  font-weight: lighter;
  font-size: 24px;
}
@media only screen and (min-width: 1025px) {
  h1 {
    font-size: 36px;
  }
}
p {
  color: #aaa;
  font-family: neue, sans-serif;
  font-weight: lighter;
  margin-top: 25px;
  font-size: 12px;
  line-height: 22px;
}
@media only screen and (min-width: 1025px) {
  p {
    font-size: 14px;
  }
}
h2 {
  font-family: neue, sans-serif;
  font-weight: lighter;
  font-weight: 700;
}
.e-upper {
  text-transform: uppercase;
}
button {
  background: none repeat scroll 0 0 transparent;
  border: none;
  border-spacing: 0;
  color: #26589f;
  outline: none;
}
body {
  overflow-x: hidden;
  font-family: neue, sans-serif;
  font-weight: lighter;
}
picture {
  display: block;
  width: 100%;
  height: 100%;
}
:root {
  --color: #e41f6a;
  --soft: #fefbf5;
  --black: #0f0f0f;
  --dark: #0f0f0f;
  --dharma: "dharma", condendsed;
  --neue: "neue", sans-serif;
  --dante: "dante", sans-serif;
  font-family: var(--neue);
}

.infinity {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.infinity__hold {
  position: relative;
}

.infinity__each {
  position: absolute;
  height: 100vh !important;
  width: 65vw !important;
}

.infinity__each img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top left;
}

li.infinity__each:first-child {
  width: 60rem;
}

li.infinity__each:nth-child(2) {
  left: 65rem;
  top: 100vh;
}

li.infinity__each:nth-child(3) {
  top: 200vh;
  left: 4rem;
}

li.infinity__each:nth-child(4) {
  top: 300vh;
  left: 65.1rem;
  width: 74.1rem;
}

li.infinity__each:nth-child(5) {
  top: 400vh;
  width: 60rem;
}

li.infinity__each:nth-child(6) {
  top: 500vh;
  left: 65.1rem;
  width: 56.9rem;
}

li.infinity__each:nth-child(7) {
  top: 600vh;
  width: 48rem;
  left: 12rem;
}
